.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
themes/yilia/
source/_posts/
update.bat
_config.yml
package-lock.json
scaffolds/draft.md
package.json
scaffolds/page.md
scaffolds/post.md
update_photo.bat
__pycache__/
